# Kohler Anthem Credentials
#
# Copy this file to kohler-credentials.yaml and fill in your values.
# The extraction scripts will populate the first three automatically.
#
# KEEP kohler-credentials.yaml SECRET - it contains your credentials!
# kohler-credentials.yaml is gitignored and should never be committed.

kohler_api_resource: YOUR_VALUE_HERE
kohler_apim_key: YOUR_VALUE_HERE
kohler_client_id: YOUR_VALUE_HERE
kohler_password: YOUR_VALUE_HERE
kohler_username: YOUR_VALUE_HERE
